body .dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}
body {
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.nav-container{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 97%;
}

.header{
  color: var(--dark-color);
  margin-left: 20px;
}

.dark-mode .header{
  color: var(--light-color);
}

.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-color);
  gap: 15px;
  height: 100vh;
  width: 100vw;
}

.container.dark-mode{
  background-color: var(--dark-color);
}

.container .options-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container .options-container button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-color);
  color: var(--primary-color);
  cursor: pointer;
  outline: none;  
  border: 1px solid var(--primary-color);
}

.container.dark-mode .options-container button{
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
}

.container .options-container button:hover{
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
}

.container.dark-mode .options-container button:hover{
  background-color: var(--dark-color);
  color: var(--primary-color);
  border: 1px solidvar(--primary-color);
}

.container.dark-mode .options-container select{
  background-color: var(--primary-color);
  color: var(--light-color);
  
}

.container .options-container select{
  background-color: var(--light-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
}

.container .options-container input{
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--light-color);
  border-radius: 5px;
  width: 200px;
  outline: none;
  padding: auto;
  color: var(--dark-color);
}
.container.dark-mode .options-container input{
  padding: 10px 20px;
  border: 1px solid var(--dark-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 200px;
  color: var(--light-color);
}


table {
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}

.container.dark-mode table th{
  background-color: var(--dark-color);
  color: var(--light-color);
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}


table th {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.container.dark-mode table th{
  background-color: var(--primary-color);
  color: var(--light-color);
}

table tr:nth-child(even) {
  background-color: var(--secondary-color);
}

.container.dark-mode table tr:nth-child(even){
  background-color: var(--primary-color);

}

.status-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
